@import "tailwind.css";
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* @import "flatpickr/dist/flatpickr.css"; */

@font-face {
    font-family: Dosis;
    src: url("~font/Dosis-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
